{% if message is not null %}
    <div class="alert {{message['status']}}" role="alert">{{message['message']}}</div>
{% endif %}
<form method="post" name="form" id="modal-form" action="{{action}}">
    <div class="form-group {% if input_errors['rate'] is not null %} has-error {% endif %}">
        <label for="rate">Avaliação</label>
        <select name="rate" class="form-control">
            <option>Selecione</option>
            {% for i in 0..5 %}
                <option value="{{i}}" {% if model.rate == i %}selected{% endif %}>{{i}}</option>
            {% endfor %}
        </select>
        {% if input_errors['rate'] is not null %}
            {% for error in input_errors['rate'] %}
                <span class="help-block">{{error}}</span>
            {% endfor %}
        {% endif %}
    </div>
    {% if model is not null %}
        <input type="hidden" name="id" value={{model.id}} />
        <input type="hidden" name="transaction_id" value={{model.transactionId}} />
    {% else %}
        <input type="hidden" name="transaction_id" value={{transaction_id}} />
    {% endif %}
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>