{% if message is not null %}
    <div class="alert {{message['status']}}" role="alert">{{message['message']}}</div>
{% endif %}
<form method="post" name="form" id="modal-form" action="{{action}}">
     <div class="form-group {% if input_errors['client_id'] is not null %} has-error {% endif %}">
        <label for="client">Cliente</label>
        <select name="client_id" class="form-control">
            <option value="">Selecione</option>
            {% for client in clients %}
                <option value="{{client.id}}" {% if model.clientId == client.id %}selected{% endif %}>{{client.name}}</option>
            {% endfor %}
        </select>
        {% if input_errors['client_id'] is not null %}
            {% for error in input_errors['client_id'] %}
                <span class="help-block">{{error}}</span>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group {% if input_errors['store_id'] is not null %} has-error {% endif %}">
        <label for="store">Loja</label>
        <select name="store_id" class="form-control">
            <option value="">Selecione</option>
            {% for store in stores %}
                <option value="{{store.id}}" {% if model.storeId == store.id %}selected{% endif %}>{{store.name}}</option>
            {% endfor %}
        </select>
        {% if input_errors['store_id'] is not null %}
            {% for error in input_errors['store_id'] %}
                <span class="help-block">{{error}}</span>
            {% endfor %}
        {% endif %}
    </div>
        <div class="form-group {% if input_errors['employee_id'] is not null %} has-error {% endif %}">
        <label for="employee">Funcionário</label>
        <select name="employee_id" class="form-control">
            <option value="">Selecione</option>
            {% for employee in employees %}
                <option value="{{employee.id}}" {% if model.employeeId == employee.id %}selected{% endif %}>{{employee.name}}</option>
            {% endfor %}
        </select>
        {% if input_errors['employee_id'] is not null %}
            {% for error in input_errors['employee_id'] %}
                <span class="help-block">{{error}}</span>
            {% endfor %}
        {% endif %}
    </div>
    {% if model is not null %}
        <input type="hidden" name="id" value={{model.id}} />
    {% endif %}
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>