{% extends 'layout.html.twig' %}
{% block content %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Transações</li>
        </ol>
        <button class="btn btn-danger btn-delete pull-right" url="/client/transaction/delete" list-grid="#grid" style="margin-left: 10px;">Deletar</button>
        <button class="btn btn-primary btn-modal pull-right" modal-title="Nova Transação" modal-url="/client/transaction/new">Novo</button>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary"> 
            <div class="panel-heading"> 
                <h3 class="panel-title">Pesquisar</h3> 
            </div> 
            <div class="panel-body">
                <form method="post" name="search" id="search-form" list-grid="#grid" action="/client/transaction/search">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Cliente">
                    </div>
                    <button type="submit" class="btn btn-primary search-btn">Enviar</button>
                </form> 
            </div> 
        </div>


    </div>
    <div class="col-md-9" id="grid" url="/client/transaction/list">
        <table class="table table-hover table-condensed" style="margin-top:5px">
            <thead>
                <tr>
                    <th style="width: 30px"></th>
                    <th>Cliente</th>
                    <th class="col-md-2">Loja</th>
                    <th class="col-md-2">Funcionário</th>
                    <th class="col-md-1">Avaliação</th>
                    <th class="col-md-1">Editar</th>
                    <th class="col-md-1">Avaliar</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td><input type="checkbox" value={{transaction.id}} class="checkbox-delete"></td>
                    <td>{{transaction.client}}</td>
                    <td>{{transaction.store}}</td>
                    <td>{{transaction.employee}}</td>
                    <td>{{transaction.rate}}</td>
                    <td><button class="btn btn-primary btn-modal" modal-title="Atualizar Transação"
                                modal-url="/client/transaction/update/{{transaction.id}}">Editar</button></td>
                    {% if transaction.rate is null %}
                        <td>
                            <button class="btn btn-primary btn-modal" modal-title="Avaliar"
                                modal-url="/client/rate/new/{{transaction.id}}">Avaliar</button>
                        </td>
                    {% else %}
                        <td>
                            <button class="btn btn-primary btn-modal" modal-title="Editar Avaliação"
                                modal-url="/client/rate/update/{{transaction.rateId}}">Editar Avaliação</button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
